black==25.1.0
cfgv==3.4.0
click==8.1.8
colorama==0.4.6
dill==0.3.9
distlib==0.3.9
filelock==3.17.0
identify==2.6.8
isort==6.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.2.3
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
pre_commit==4.1.0
Pygments==2.19.1
PyYAML==6.0.2
rich==13.9.4
scipy==1.15.2
taichi==1.7.3
virtualenv==20.29.2
